.sidebar {
  width: 270px;
  height: 100vh;

  position: fixed;
  left: 0;
  top: 0;

  background: #050b1d;

  border-right: 1px solid rgba(255,255,255,.05);

  display: flex;
  flex-direction: column;
  justify-content: space-between;

  padding: 24px;
}

.sidebar-logo {
  display: flex;
  justify-content: center;
}

.sidebar-logo img {
  width: 180px;
}

.sidebar-menu {
  display: flex;
  flex-direction: column;
  gap: 12px;
}

.sidebar-item {
  height: 52px;

  border: none;
  border-radius: 14px;

  background: transparent;

  color: #d1d5db;

  display: flex;
  align-items: center;
  gap: 12px;

  padding: 0 18px;

  cursor: pointer;

  transition: all .25s ease;
}

.sidebar-item:hover {
  background: rgba(124,58,237,.15);
  color: white;
}

.sidebar-item.active {
  background: linear-gradient(
    90deg,
    #0ea5ff,
    #7c3aed
  );

  color: white;
}

.sidebar-item span {
  font-size: 15px;
  font-weight: 600;
}

.sidebar-footer {
  display: flex;
  flex-direction: column;
  gap: 14px;
}

.sidebar-user {
  display: flex;
  align-items: center;
  gap: 12px;

  padding: 14px;

  background: rgba(255,255,255,.04);

  border: 1px solid rgba(255,255,255,.06);

  border-radius: 16px;
}
.user-avatar {
  width: 44px;
  height: 44px;

  border-radius: 50%;

  display: flex;
  align-items: center;
  justify-content: center;

  font-weight: 700;
  font-size: 16px;

  color: white;

  background: linear-gradient(
    135deg,
    #1d7dff,
    #9b2cff
  );
}
.user-info {
  display: flex;
  flex-direction: column;
}

.user-info h4 {
  margin: 0;
  color: white;
  font-size: 14px;
  font-weight: 600;
}

.user-info span {
  color: #94a3b8;
  font-size: 12px;
}

.sidebar-user p {
  margin: 0;
}

.logout-btn {
  height: 48px;

  border: none;
  border-radius: 12px;

  background: #ef4444;

  color: white;

  cursor: pointer;

  font-weight: 600;
}