.loading-overlay {
  position: fixed;
  inset: 0;
  z-index: 9999;

  background: rgba(12, 10, 24, 0.75);
  backdrop-filter: blur(10px);

  display: flex;
  justify-content: center;
  align-items: center;
}

.loading-box {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 25px;
}

.loading-box p {
  color: white;
  font-family: "Poppins", sans-serif;
  font-size: 15px;
  font-weight: 500;
}