* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body,
#root {
  min-height: 100vh;
}

body {
  font-family: "Poppins", sans-serif;
  background: #030712;
}

.swal2-container {
  z-index: 999999 !important;
}

.modal-overlay {
  z-index: 9000;
}

.loading-overlay {
  z-index: 8000;
}